@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,75,900;1,75,900&family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

/* Custom slider styles */
@layer components {
  input[type="range"] {
    @apply appearance-none bg-gray-200 h-2 rounded-lg;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-[#2D3748] cursor-pointer;
  }

  input[type="range"]::-moz-range-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-[#2D3748] cursor-pointer border-0;
  }

  input[type="range"]::-ms-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-[#2D3748] cursor-pointer;
  }
}
